<html>
<head>
	<title>Bros and Books</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
	<style>
	#content {
		margin-top:25px;
	}
	#message-container {
		position:absolute;
		left:15%;
		right:15%;
		top:15px;
		z-index:100;
	}
	.current-book {
		margin-top:10px;
		height:75px;
		position:relative;
	}
	img.book {
		max-height:75px;
		max-width:75px;
		position:absolute;
		right:10px;
		top:10px;
	}
	#account {
		position:absolute;
		right:10px;
		top:10px;
	}
	input.vote {
		width:auto;height:auto;
	}
	</style>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap-modal.js"></script>
	<script type="text/javascript">
	function alertMessage(data) {
		var $alert = $("#alert-message-tpl").tmpl(data)
		$alert.hide().appendTo('#message-container').show('slideDown')
		setTimeout(function() { $alert.hide('slideUp') }, 2000)
	}
	$(function() {
		$('form.upvote,form.downvote').submit(function(e) {
			var $form = $(this);
			e.preventDefault()
			$.post($form.attr('action'),$form.serialize())
				.success(function(data,status) {
					window.location.reload()
				})
				.error(function(data) {
					data = JSON.parse(data.responseText)
					data['tag'] = 'warning'
					alertMessage(data)
				})
			
		})
		$('a.close').on('click',function() {
			$(this).closest('.alert').remove()
		})
		setTimeout(function() { $('#message-container .alert').hide('slideUp') },3000)
		$('#comment-modal').modal(options)
	})
	</script>
	<script id="alert-message-tpl" type="text/template">
		<div class="alert ${ tag }">
			<a class="close" href="javascript:void(0)" onclick="$(this).closest('.alert').remove()">×</a>
			<p>${ message }</p>
		</div>
	</script>


</head>
<body>

	
	<div id="account">
		{% if request.user.is_authenticated %}
			<a class="btn" href="{% url logout %}">Logout</a>
		{% else %}
			<form action="{% url login %}" method="post">{% csrf_token %}
				<input type="text" name="username" value="Username">
				<input type="password" name="password" value="Password">
				<input class="btn btn-info" type="submit" value="Login/Create">
			</form>
		{% endif %}
	</div>
	
	<div id="comment-modal" class="modal fade">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3>Comment on book...</h3>
	  </div>
	  <div class="modal-body">
	    <p>//TODO: Implement commenting on books!</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn btn-primary">Save changes</a>
	    <a href="#" onclick="$('#comment-modal').modal('hide')" class="btn">Close</a>
	  </div>
	</div>
	
	<div id="content" class="container">
		
		<div id="message-container">
			{% if messages %}
				{% for message in messages %}
				<div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
					<a class="close" href="#">×</a>
					<p>{{ message }}</p>
				</div>
				{% endfor %}
			{% endif %}
		</div>
		
		
		<div id="current">
			<h1>Bros and Books</h1>

			<table>
			{% for book in current_books %}
				<div class="current-book alert alert-info">
					<p>You're currently supposed to be reading {% if book.links.all.0 %}<a href="{{ book.links.all.0 }}">"{{book.name}}"</a>{% else %}"{{book.name}}"{% endif %} by {{book.author}}.</p>
					<p>You've got <strong>{{book.current_reading.time_left.days}} days left</strong>.<p>
					<p>You should be reading <strong>{{book.current_reading.pages_per_day}} pages per day</strong>. At that rate, you'd be on page <strong>{{book.current_reading.through_pages}}</strong>, with {{book.current_reading.left_pages}} to go.</p>
					{% if book.img %}<img class="book" src="{{book.img.url}}" />{% endif %}
				</div>
			{% empty %}
				<p>Not currently reading anything!</p>
			{% endfor %}
			</table>
		</div>
		
		<div id="proposed">
			<h2>Proposed Books</h2>
			<form method="post" action="{% url index %}">
				{% csrf_token %}
				<table class="table">
				<tr>
					<th>Name</th><th>Cover</th><th>Author</th><th># Pages</th>
				</tr>
				<tr>
					<td class="control-group {% if book_form.name.errors %}error{% endif %}">
						<span class="help-inline">{{ book_form.name.errors }}</span>
						{{ book_form.name }}
					</td>
					<td class="control-group {% if book_form.img.errors %}error{% endif %}">
						<span class="help-inline">{{ book_form.img.errors }}</span>
						{{ book_form.img }}
					</td>
					<td class="control-group {% if book_form.author.errors %}error{% endif %}">
						<span class="help-inline">{{ book_form.author.errors }}</span>
						{{ book_form.author }}
					</td>
					<td class="control-group {% if book_form.pages.errors %}error{% endif %}">
						<span class="help-inline">{{ book_form.pages.errors }}</span>
						{{ book_form.pages }}
					</td>
					<td>
						
					</td>
				</tr>
				<tr>
					<td></td><td></td><td></td><td><input class="btn btn-primary" type="submit" value="Propose!"></td>
				</tr>
				<table>
			</form>
			<table class="table table-striped">
			{% for book in proposed %}
				<tr class="book">
						<td>{{book.name}}</td>
						<td>{% if book.img %}<img class="book" src="{{book.img.url}}" />{% endif %}</td>
						<td>{{book.author}}</td>
						<td>
							<form class="upvote" action="{% url upvote book.id %}" method="post">
								{% csrf_token %}
								<button class="btn btn-success" type="submit">
									<i class="icon-arrow-up"></i>
								</button>
								
							</form>
						</td>
						<td>
							<form class="downvote" action="{% url downvote book.id %}" method="post">
								{% csrf_token %}
								<button class="btn btn-danger" type="submit">
									<i class="icon-arrow-down"></i>
								</button>
								
							</form>
						</td>
						<td><h3>{{book.sum_votes}}</h3> <h6>From {{book.count_votes}} votes</h6></td>
						<td><a class="btn small" data-toggle="modal" href="#comment-modal" >Comment</a></td>
				</tr>
			{% empty %}
				<tr>
						<td>Sorry. No proposed books.</td><td></td><td></td><td></td><td></td>
				</tr>
			{% endfor %}
			</table>
		</div>
		
	</div>
</body>
</html>